body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

header {
  background-color: rgb(10, 59, 60);
  height: 60px;
}

header a {
  line-height: 65px;
  padding: 0 25px;
  color: rgb(182, 109, 78);
  text-decoration: none;
  font-size: 21px;
}

.container {
  margin: 0 auto;
}

.top-wrapper {
  background-color: rgb(220, 173, 132);
  text-align: center;
  padding: 180px 0 180px 0;
}

.top-wrapper h1 {
  font-size: 60px;
  color: rgb(10, 59, 60);
  letter-spacing: 6px;
}

.top-wrapper h2 {
  font-size: 40px;
  color: rgb(10, 59, 60);
  letter-spacing: 2px;
}
