body {
  margin: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

header {
  background-color: rgb(10, 59, 60);
  height: 65px;
}

header a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  text-decoration: none;
  font-size: 21px;
}

.container {
  margin: 0 auto;
}

.top-wrapper {
  text-align: center;
  padding: 180px 0 180px 0;
}

.top-wrapper h1 {
  font-size: 80px;
  color: rgb(10, 59, 60);
  letter-spacing: 6px;
}

.top-wrapper h2 {
  font-size: 40px;
  color: rgb(10, 59, 60);
  letter-spacing: 2px;
}

.about-wrapper {
  text-align: center;
}

.about-wrapper img {
  border-radius: 50%;
  margin-bottom: 40px;
  border: 7px solid rgb(10, 59, 60);
}

.about-wrapper p {
  font-size: 20px;
}

.section {
  color: rgb(10, 59, 60);
  font-size: 30px;
  margin-bottom: 40px;
}

.profile {
  color: rgb(10, 59, 60);
}

.skill-wrapper {
  padding: 180px 0 180px 0;
  text-align: center;
}

.list-1 {
  display: flex;
  justify-content: center;
}

.list-2 {
  display: flex;
  justify-content: center;
}

.skill-item p {
  margin-bottom: 5px;
}

.skill-item img {
  width: 40%;
  padding-top: 30px;
}

.skill-item {
  float: left;
  width: 23%;
  text-align: center;
  border: 7px solid rgb(10, 59, 60);
  border-radius: 10%;
  color: rgb(10, 59, 60);
  margin: 10px 10px;
}

.works-wrapper {
  text-align: center;
}

.news-wrapper {
  text-align: center;
  color: rgb(10, 59, 60);
  padding: 100px 0;
}

.news p {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(10, 59, 60);
  font-size: 20px;
}

.contact-wrapper {
  text-align: center;
}

.contact-item img {
  display: inline-block;
  width: 130px;
  padding: 0 20px;
}

.contact-item {
  float: left;
}

.contact-list {
  display: flex;
  justify-content: center;
}
